img {
    display: block;
    background-color: transparent;
    border: none;
    margin: 0px auto;
}

.wy-side-nav-search {
    font-size: 150%;
    background-color: #6dc6f2;
}

code, .rst-content tt {
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: solid 1px #e1e4e5;
    font-size: 90%;
    padding: 0 5px;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    color: #384e77;
    overflow-x: auto;
}

figcaption {
    font-size: 90%;
    margin-top: 0.2em;
    margin-bottom: 1.2em;
}